.card-list-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

.card-list-title {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-title-link {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &:hover {
        border-bottom: 0.15rem solid #fff;
    }
}

.cards {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
}

@media (max-width: 1024px) {
    .cards {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        place-items: center center;
    }

    .card-list-title {
        font-size: 1.75rem;
    }

    .card-title-link {
        font-size: 0.9rem;
    }
}

@media (max-width: 425px) {
    .cards {
        gap: 0.75rem;
    }

    .card-list-title {
        font-size: 1.65rem;
    }

    .card-title-link {
        font-size: 0.85rem;
    }
}